<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js"></script>
    <title>Document</title>
</head>

<body>

    
        
    
    <center>
    <div id="first_block">
            <img src="img/1.png">
            
        


        
            <textarea onfocus="if(this.value==this.defaultValue)this.value=''"
                onblur="if(this.value=='')this.value=this.defaultValue" class="note_book">Brudnopis
            </textarea>
      
            <input  class="answer_write" type="text" placeholder="Odpowiedź" id="answer_area">
       
            <input class="button_theme" type="submit" value="check" onclick="check()">    
        
    </div>
    </center>
    <div id="pdf"><embed id="pdf_theme" src="pdf/1.pdf#toolbar=0"></embed></div>
    
   



</body>

</html>